.crossword-ai-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generate-crossword-button-ai {
  font-size: 24px;
  border-color: black;
  color: white;
  padding: 8px 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: var(--Buttons, #4f92ff);
}

.show-word-bank-button {
  font-size: 24px;
  border-color: black;
  color: white;
  padding: 8px 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: var(--Buttons, #4f92ff);
}

.show-crossword-solution-button {
  font-size: 24px;
  border-color: black;
  color: white;
  padding: 8px 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: var(--Buttons, #4f92ff);
}

.show-crossword-button {
  font-size: 24px;
  border-color: black;
  color: white;
  padding: 8px 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: var(--Buttons, #4f92ff);
}

.show-clues-button {
  font-size: 24px;
  border-color: black;
  color: white;
  padding: 8px 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--STROKE, #E7E7E7);
  background: var(--Buttons, #4f92ff);
}

.crossword-and-clues {
  display: flex;
  justify-content: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  height: 520px; /* 13 rows * 40px per cell */
}

.crossword-list-container, .crossword-solution-container-margin, .crossword-puzzle-container-margin {
  margin-top: 20px;
  margin-bottom: 20px
}