.word-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 447px;
  overflow: hidden;
  width: 242px;
}

.word-list-title {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  padding: 10px 0;
  margin: 0;
}

.word-list-scrollable {
  overflow-y: auto;
  flex-grow: 1;
}

.word-list-section {
  margin-bottom: 10px;
}

.word-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.word-list-header.expanded {
  background-color: #e0e0e0;
}

.arrow-icon {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.word-list-header.expanded .arrow-icon {
  transform: rotate(180deg);
}

.word-list-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.word-list-content.expanded {
  max-height: 1000px; /* This should be larger than the expected content height */
}

.word-list-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.word-list-content li {
  padding: 5px 10px;
}