.crossword-grid {
  display: grid;
  /* grid-template-columns: repeat(13, 40px);
  grid-template-rows: repeat(13, 40px); */
  gap: 0;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  flex-shrink: 0; /* Prevent the grid from shrinking */
}

.crossword-row {
  display: flex;
}

.crossword-cell {
  width: 40px;
  height: 40px;
  border: 0.5px solid #6b6b6b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.crossword-cell.black {
  background-color: black;
}

.crossword-cell.white {
  background-color: white;
}