.whole-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid red;
  justify-content: center;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  width: 620px;
  border: 1px solid blue;
  justify-content: space-between;
}

.right-side-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 620px;
  width: 620px;
  border: 1px solid green;
  justify-content: space-around;
  
} 

.crossword-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
}

.crossword-save-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid purple;
  margin-bottom: 20px;
}

/* .crossword-container {

} */