.whole-page-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid red;
  justify-content: center;
  width: 965px;
  height: 747px;
}

.left-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 1px solid blue;
  /* justify-content: flex-start; */
  
  margin-right: -16px;
}

.right-side-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 50%;
  border: 1px solid green;
  justify-content: space-around;
  
} 

.crossword-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid yellow;
}

.crossword-save-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid purple;
  margin-bottom: 20px;
}

.title-container-across  {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid orange;
  margin-right: 20px;
  width: 965px;
}